<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My Web Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("head", required: false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("My Web Application", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <section id="language">
                        @Html.Partial("_LanguagePartial")
                    </section>
                    <nav class="main-menu">
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            
                            
                            <li>@Html.ActionLink("Movies", "Index", "Movie")</li>
                            <li>@Html.ActionLink("Shop", "Index", "Shop")
                                <ul>
                                    <li>@Html.ActionLink("Categories", "Index", "ShopCategory")
                                        <ul>
                                            <li>@Html.ActionLink("Tree", "Index2", "ShopCategory")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Products", "Index", "ShopProduct")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Other", "Other", "Home")
                                <ul>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("From Developers", "FromDevs", "Home")</li>
                                    
                                    <li><a href="#">Old Shop</a>
                                        <ul>
                                            <li>@Html.ActionLink("Categories (old)", "Index", "Categories")</li>
                                            <li>@Html.ActionLink("Products (old)", "Index", "Products")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("HelloWorld", "Index", "HelloWorld")
                                        <ul>
                                            <li>@Html.ActionLink("UploadTest", "UploadTest", "HelloWorld")</li>
                                        </ul>
                                    </li>
                            </ul>
                            </li>
                            
                            <li><a href="#">Areas</a>
                                <ul>
                                    <li>@Html.ActionLink("Forum area", "Index", "Home", new { Area = "Forum" }, new{})</li>
                                    <li>@Html.ActionLink("ToDo", "Index", "Home", new { Area = "ToDoArea" }, new{})</li>
                                    <li>@Html.ActionLink("Help(API) area", "Index", "Help", new { Area = "HelpPage" }, new{})</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            
                            @if (Request.IsAuthenticated && User.IsInRole(Andriy.Mvc4Application1.Consts.AdminRoleName))
                            {
                                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @this.RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My Web Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
