@model Andriy.Mvc4Application1.Models.ShopCategory

@{
    ViewBag.Title = "Category Details";
}

<h2>Category Details</h2>

<fieldset>
    <legend>ShopCategory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
        
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ParentCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentCategory.Name)
    </div>
    PC<div>
        @Model.ParentCategory
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
