@model Mvc4Application1.DAL.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset class="product-details">
    <legend>Product</legend>
    
    <div>
        <span class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Name)
        </span>
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        Image
    </div>
    <div class="display-field">
        <img class="thumbnail" alt="no image" src="@(string.IsNullOrEmpty(Model.ImageUrl) ? string.Empty : Url.Content(Model.ImageUrl))" />
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsFeatured)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsFeatured)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPublished)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPublished)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
