@model Andriy.Mvc4Application1.Models.DirectoryListing

@{
    ViewBag.Title = "ShowUploads";
}

@{ int idx = 1; }
Path: @Model.Path
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model.ParentDirPath != null)
            {
                <td></td>
                <td>@Html.ActionLink(".. (Up)", "ShowUploads",  new {path = Model.ParentDirPath})</td>
                <td></td>
            }
        
        </tr>
        @foreach (var dirName in Model.Subirectories)
        {
            <tr>
                <td>Dir</td>
                <td>@Html.ActionLink(dirName, "ShowUploads", new { path = Model.FriendlyPath + dirName } )</td>
                <td></td>
            </tr>
        }
        @foreach (var fileName in Model.Files)
        {
            <tr>
                <td></td>
                <td>@Html.ActionLink(fileName, "ShowFile", new {virtualFilePath = string.Format("{0}/{1}", Model.VirtualPath, fileName)})</td>
                <td>@Html.ActionLink("Download", "DownloadFile", new {virtualFilePath = string.Format("{0}/{1}", Model.VirtualPath, fileName)})</td>
            </tr>
        }
    </tbody>
</table>
